.mainSection{
    display: flex;
    justify-content: space-between;
}
.navbar{
    list-style: none;
    display: inline-block;
    width: 20%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.horizontalNavbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 30px;
}
.horizontalNavbar .selected{
    border-bottom: 3px solid #4d6da9;
}
.navbar li{
    /*background-color: blue;*/
    padding: 5px;
    cursor: pointer;
}
.selected{
    font-weight: bold;
    color: #4d6da9;
}
.navbar li:hover{
    font-weight: bold;
    color: #6a78b2;
}
.content{
    /*border: 2px solid lightgray;*/
    width: 80%;
    padding: 10px;
}
.articleObject{
    display: inline-block;
    width: 100%;
    border: 1px solid black;
    border-radius: 2px;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    box-sizing: border-box;
}
.articleObject:hover{
    box-shadow: 0px 0px 9px 3px rgba(34, 60, 80, 0.2);
}
.articleObject_title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.articleObject_author span{
    color: blue;
    text-decoration: underline;
}
.articleObject_rating{

}

.keyWordObject{
    background-color: lightgray;
    color: #444444;
    /*display: inline-block;*/
    border-radius: 20px;
    margin: 5px 10px;
    height: 30px;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.articleTextBlock{
    border: 1px solid gray;
}
.articleTextBlock img{
    width: 500px !important;

}
