.pageContent{
    width: 70%;
    margin: 50px auto;
}
.contentContainer{
    width: 70%;
    margin: 0 auto;
    color: white;
    position: relative;
}
.date{
    position: absolute;
    left: 90px;
    bottom: 20px;

}
.mainSection{
    background-color: white;
    padding: 10px;
}
.gridView{
    display: flex;
    flex-wrap: wrap;
}
*{
    /*color: #b2b5b8;*/
    color: #373737;
}
.pageArticle{
    background-color: white;
    padding: 10px;
    margin: 10px 0;
    color: #4d6da9;
    font-weight: bold;
    border-bottom: 3px solid #4d6da9;
}
.section{
    background-color: white;
    display: block;
    margin-bottom: 10px;
    padding: 20px;
}
.searchBlockInSection{
//background-color: red;
    margin: 0 0 20px 0;
    width: 100%;
}
.searchBlockInSection input{
    border: 2px solid lightgray !important;
    width: 100%;
    display: block;
}
body{
    background-color: #ebedf4;
}

.delete{
    fill: red;
    cursor: pointer;
}
.options{
    height: 25px;
    display: inline-block;
    width: 25px;
    fill: black;
    cursor: pointer;
    /*transform: translateY(13px);*/
}
.options:hover{
    background-color: lightblue;
    border-radius: 100%;
}
.like{
    height: 40px;
    display: inline-block;
    width: 40px;
    fill: #d4d7db;
    transform: translateY(13px);
}
.liked{
    fill: red;
}
.comment{
    height: 40px;
    fill: #c2c4c9;
    transform: translateY(13px);
}
.button{
    display: inline-block;
    /*width: 60px;*/
    cursor: pointer;
}
.favorite{
    fill: gray;
    height: 40px;
    display: inline-block;
    width: 40px;
    transform: translateY(13px);
    cursor: pointer;
}
.ban{
    fill: gray;
    height: 40px;
    display: inline-block;
    width: 40px;
    transform: translateY(13px);
}
.favorited{
    fill: gold;
}

.find{
    height: 25px;
    fill: #b2b5b8;
    margin-right: 5px;
    cursor: pointer;
    /*background-color: white;*/
    border-radius: 2px;
}

.searchBlock{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    height: 25px;
}
.searchBlock input{
    width: 100%;
    border-radius: 15px;
    border: none;
    height: 25px;
    padding-left: 10px;
    box-sizing: border-box;
    outline: none;
    color: #444444;
}
.searchResult{
    background-color: white;
    border: 1px solid lightgray;
    position: absolute;
    top: 25px;
    left: 40px;
    right: 15px;
    padding: 0;
    z-index: 1;
    max-height: 300px;
    overflow: scroll;
}
.searchResultItem{
    color: #444444;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}
.searchResultItem:last-child{
    border: none
}
.flexBlock{
    display: flex;
    flex-wrap: wrap;
}
.cross{
    height: 20px;
    width: 20px;
    transform: translateY(25%);
    border-radius: 50%;
}
.cross:hover{
    background-color: #ADADAD;
}
.settings{
    fill: #8CB2F6;
    height: 25px;
    cursor: pointer;
}
.dropdownList{
    list-style-type: none;
    position: relative;
    padding: 0;
    margin: 0;
    z-index: 10;
}
.dropdownSubList{
    background-color: #F9F9F9;
    display: none;
    position: absolute;
    z-index: 3;
    list-style-type: none;
    margin: 0;
    padding: 0;
    opacity: 1;
    width: 200px;
    border-radius: 2px;
}

.dropdownList a{
    text-decoration: none;
    color: #7ea1cc;
}
.dropdownSubList li{
    padding: 5px;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.dropdownSubList a:hover{
    color: blue;
    /*display: inline-block;
    width: 100%;
    height: 100%;*/
}
.dropdownList:hover .dropdownSubList{
    display: block;
    transition: linear 1s;
}
.notificationsIcon{
    stroke: #8CB2F6;
    fill: #8CB2F6 !important;
    height: 25px;
    cursor: pointer;
}
.loadingComponent{
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
}
.loadingComponent div{
    font-size: 30px;
}
.loading{
    height: 150px;
    position: absolute;
    top: 20%;
    animation: rotate 5s infinite linear;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }
}

.errorComponent{
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
}
.errorComponent div{
    font-size: 30px;
}
.error{
    height: 150px;
    position: absolute;
    top: 20%;
    fill: red;
    color: blue;
}
.attachment{
    width: 25px;
    height: 25px;
    cursor: pointer;
    box-sizing: border-box;
    margin: 5px;
}


.send{
    width: 25px;
    height: 25px;
    cursor: pointer;
    box-sizing: border-box;
    margin: 5px 10px 5px 5px;
    fill: #4d6da9;
}

.paginationPages{
    display: flex;
    cursor: pointer;
    color: blue;
    justify-content: left;
}
.paginationPages div{
    margin-right: 10px;
}
