/*картинка профиля для ...*/
.small{
    width: 40px;
    height: 40px;
    border-radius: 100% 100%;
    overflow: hidden;
    object-fit: cover;
}
/*картинка профиля для постов*/
.medium{
    width: 70px;
    height: 70px;
    border-radius: 100% 100%;
    overflow: hidden;
    object-fit: cover;
}
.medium img{
    transform: translate(-25%, -25%);
}
/*большая квадратная картинка профиля на странице группы\юзера*/
.large{
    width: 150px;
    height: 170px;
    border: 2px solid white;
    box-sizing: border-box;
}
.profileImage{
    display: inline-block;
}