.chatRoomComponent{
    height: 80px;
    border-bottom: 2px solid #d6f1ff;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
}
.chatRoomComponent:hover{
    background-color: #d6f1ff;
}
.chatRoomComponent .messageSenderImage, .chatRoomComponent .chatRoomOptions{
    width: 10%;
    display: flex;
    align-items: center;
}
.chatRoomOptions{
    display: flex;
    justify-content: center;
}
.messageSenderImage{
    display: flex;
    justify-content: center;
}
.messageSenderImage:hover{
    background-color: #d5e1e2;
}
.chatRoomContentSection{
    width: 80% !important;
    display: inline-block;
}
.chatRoomName{
    font-weight: bold;
}
.chatRoomLastMessage{
    display: flex;
    justify-content: space-between;

}
/*для страницы чат комнаты*/
.chatRoomContent{
    display: flex;
}
/*участники чата*/
.chatRoomMembers{
    box-sizing: border-box;
    padding: 20px;
    width: 30%;
    border-left: 2px solid #4d6da9;
    overflow-y: scroll;

}
.chatRoomMember{
    display: flex;
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
}
.chatRoomMember > div{
    margin-right: 10px;
}
.chatRoomMember:hover{
    background-color: #dce3ef;
}
/*секция с сообщениями*/
.chatRoomMessages{
    width: 70%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 900px;
    position: relative;
}
/*область отправки сообщения*/
.chatRoomSendMessage{
    position: sticky;
    bottom: 0;
    display: flex;
    background-color: white;
    padding: 5px 0;

}
.chatRoomSendMessage input{
    width: 100%;
}
.messageContainer{
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
/*класс сообщения*/
.message{
    background-color: #f7f7ff;
    display: flex;
    max-width: 400px;
    /*position: absolute;*/
    left: 0;
    float: left;
    padding: 10px 10px;
    margin: 00px 10px 0 10px;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

}
.messageText{

    display: flex;
    justify-content: space-between;
    min-width: 100px;
}
/*класс для моих сообщений*/
.myMessage{
    background-color: #cee3fc;
    /*position: absolute;*/
    right: 0;
    top: 0;
    float: right;

}
