.post{
    background-color: white;
    margin-bottom: 10px;
    padding: 40px;
}

.authorInfo{
    display: flex;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    position: relative;
    cursor: pointer;
}
.authorInfo div:last-child{
    position: relative;
    top: 5px;
    left: 20px;
    font-weight: bold;
}
.title{
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0;

}
.text{
    font-size: 20px;
    padding: 10px 0;

}
.images{

}
.bottomSection{
    border-top: 2px solid lightgray;
    margin-top: 10px;
    display: flex;
    font-size: 20px;
    justify-content: space-between;

}
